*{  
    font-family: 'Times New Roman', Times, serif;
   background-color: rgb(42, 188, 207);
}
.person{
    display: flex;
    justify-content: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(42, 188, 207);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;

    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0edb1f;
    color:#fff;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #441ada;
    color: white;
  }
 
  #contact a{
    text-decoration: none;
    border-radius: 5px;
padding:10px; 
color: #fff;
background-color: #2225d4;
}